footer {
    width: 1000px;
    margin: 0 auto;
    /*border: solid 1px red;*/
}
footer #foot_menu {
    text-align: center;
    border-top: solid 2px #aaa;
    border-bottom: solid 1px #aaa;
    font-size: 12px;
    padding: 10px;
}
footer #foot_menu li{
    display: inline-block;
}
footer #foot_menu li a:link, #foot_menu a:visited{
    color: #666;
}
footer #foot_menu li a:hover{
    color: black;
}
footer #info {
    margin: 30px 100px;
}